.productCardContainer{
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  width: 100%;
  font-size: 1.875rem;
  margin: 1.875rem 1.875rem;
  .productItemDetail{
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    justify-content: center;
  }
}