.itemListContainer{
  display: flex;
  flex-direction: column;
  .itemList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin: 3.125rem 0rem;
  }
}
