@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');


.product-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 420px;
  height: 800px;
  box-shadow: 0px 0px 10px grey;
  padding: 10px 20px;
  border-radius: 15px;
  margin-bottom: 20px;
  font-size: 22px;
  .button-detail{
    list-style: none;
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-family: "Roboto Serif", serif;
    background-color: #e0cfc7;
    padding: 10px 10px 10px 14px;
    width: 120px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
}


