.controlerContainer{
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  .countContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    .operationButton{
      padding: .625rem 1.25rem;
      background-color: transparent;
      border: .125rem solid #e0cfc7;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  .cartButton{
      text-decoration: none;
      background-color: #e0cfc7;
      padding: 1.25rem;
      width: 14rem;
      border-radius: .625rem;
      color: #626161;
      font-weight: bold;
      font-size: 1.125rem;
      border-color: transparent;
      cursor: pointer;
  }

}


