.controlerContainer{
  display: flex;
  flex-direction: row;
  gap: 10px;
  .countContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .operationButton{
      padding: 18px 25px;
    }
  }
  .cartButton{
    padding: 15px 15px;
    font-size: 18px;
  }

}


