@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

*{
  font-family: "Roboto Serif", serif;
}

.containerCheckOut{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 9.375rem;
  .checkOutOrder{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    text-align: center;
    h2{
      font-size: 2.8125rem;
    }
    p{
      border: .0625rem solid grey;
      padding: .3125rem 1.25rem;
      border-radius: .625rem;
      font-size: 1.25rem;
      span{
        font-weight: bold;
      }
    }
    .backToHome{
      text-decoration: none;
      background-color: #e0cfc7;
      padding: 1.25rem;
      width: 11.25rem;
      border-radius: .625rem;
      color: #626161;
      font-weight: bold;
      font-size: 1.125rem;
      cursor: pointer;
    }
  }
}