@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

*{
  font-family: "Roboto Serif", serif;
}

.containerForm{
  display: flex;
  justify-content: center;
  margin-top: 6.25rem;
  margin-bottom: 6.25rem;
  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    width: 34.375rem;
    height: 31.25rem;
    box-shadow: 0rem 0rem 1.25rem #e0cfc7;
    background-color: transparent;
    padding: 1.25rem;
    border-radius: .625rem;
    .label{
      display: flex;
      flex-direction: column;
      gap:.3125rem;
      font-size: 1.25rem;
      input{
        padding: .625rem .625rem;
        border-radius: .3125rem;
        border: .0625rem solid grey;
        font-size: 1.125rem;
        width: 30rem;
      }
    }
    .sendButton{
      width: 11.25rem;
      padding: .9375rem;
      font-size: 1.25rem;
      background-color: #e0cfc7;
      border-radius: .625rem;
      border-color: transparent;
      margin-top: 1.25rem;
      cursor: pointer;
    }
  }
}

